In [1]:
import csv
import os
from os import listdir
import datetime
from datetime import datetime
import pandas as pd
import pathlib

In [2]:
import sort_bus_by_date

In [42]:
mods_of_full_life = { 'bus_1/' : [2], 'bus_2/' : [11], 'bus_6/' : [5], 'bus_15/' : [2],
                     'bus_25/' : [1, 3, 4, 6], 'bus_28/' : [16], 'bus_32/' : [3], 
                     'bus_36/' : [3, 5, 10], 'bus_40/': [10], 'bus_58/' : [12],
                     'bus_62/' : [1], 'bus_77/': [9, 14],
                     #'bus_78/' : [4], 
                     'bus_85/' : [9],
                     'bus_87/' : [2], 'bus_111/' : [12], 'bus_122/' : [8]}

In [4]:
list_of_buses = [1, 2, 6, 15, 25, 28, 32, 36, 40, 58, 62, 77, 78, 85, 87, 111, 122]

In [5]:
mods_of_full_life['bus_36/'][1]

5

In [6]:
test = 'bus_6/'

In [7]:
directory = sort_bus_by_date.find_directory()

In [8]:
bus_6_mod_5 = sort_bus_by_date.build_module_average_df(directory, test, mods_of_full_life[test][0])

In [9]:
bus_6_mod_5_plot = bus_6_mod_5.drop(columns='TOTAL')

In [10]:
bus_6_mod_5_plot.columns

Index(['< 2.0', '2', '2.2', '2.4', '2.6', '2.8', '3', '3.2', '3.4', '3.6',
       '3.8', '>= 4.0'],
      dtype='object')

In [11]:
bus_6_mod_5_plot = bus_6_mod_5_plot.rename(columns={'< 2.0': '1.9', '>= 4.0': '4.0'})
bus_6_mod_5_plot

,1.9,2,2.2,2.4,2.6,2.8,3,3.2,3.4,3.6,3.8,4.0
DateRetrieved,,,,,,,,,,,,
2016-03-17 09:40:06,0.0,0.0,0.083333,32.916667,16914.666667,821524.833333,2.726760e+06,15304524.50,2.482452e+06,371487.083333,223.916667,0.0
2016-12-21 07:36:58,0.0,0.0,0.000000,0.000000,6.166667,24453.083333,7.618479e+05,3900807.75,5.886460e+05,28819.083333,0.000000,0.0
2017-09-27 06:12:20,0.0,0.0,0.000000,0.000000,47.000000,78156.666667,1.198907e+06,7877037.00,1.092878e+06,28329.250000,0.000000,0.0
2019-01-21 13:54:03,0.0,0.0,0.000000,0.000000,74.166667,143590.000000,2.954140e+06,19239704.25,2.659067e+06,93448.416667,0.000000,0.0
2019-01-30 06:28:49,0.0,0.0,0.000000,0.000000,74.166667,143590.000000,2.954140e+06,19240279.25,2.659067e+06,93448.416667,0.000000,0.0

In [12]:
bus_6_mod_5_plot = bus_6_mod_5_plot.reset_index()

In [15]:
for key in mods_of_full_life:
    print(key, mods_of_full_life[key])

bus_1/ [2]
bus_2/ [11]
bus_6/ [5]
bus_15/ [2]
bus_25/ [1, 3, 4, 6]
bus_28/ [16]
bus_32/ [3]
bus_36/ [3, 5, 10]
bus_40/ [10]
bus_58/ [12]
bus_62/ [1]
bus_77/ [9, 14]
bus_78/ [4]
bus_85/ [9]
bus_87/ [2]
bus_111/ [12]
bus_122/ [8]

In [22]:
for key in mods_of_full_life:
    mod_list = mods_of_full_life[key]
    for i in mod_list:
        print(i)

2
11
5
2
1
3
4
6
16
3
3
5
10
10
12
1
9
14
4
9
2
12
8

In [40]:
bus_77_mod_14 = sort_bus_by_date.build_module_average_df(directory, 'bus_77/', 14)

In [33]:
bus_28_dates = sort_bus_by_date.sort_bus_by_date(directory, 'bus_28/')

In [34]:
bus_28_dates

                                      Filename       DateRetrieved
0          0098_ProfileData_20170525062712.csv 2017-05-25 06:27:42
1          0098_ProfileData_20170621063042.csv 2017-06-21 06:31:00
2       14D0008_ProfileData_20170908104212.csv 2017-09-08 10:42:53
3  7031 14D0098_ProfileData_20170927101208.csv 2017-09-27 10:12:31
4       14D0098_ProfileData_20181016073828.csv 2018-10-16 07:38:59

In [29]:
bus_32_mod_3

,< 2.0,2,2.2,2.4,2.6,2.8,3,3.2,3.4,3.6,3.8,>= 4.0,TOTAL
DateRetrieved,,,,,,,,,,,,,
2016-03-10 11:57:19,0.0,0.0,0.0,10.083333,6964.416667,601694.333333,2.864105e+06,1.534970e+07,2.625158e+06,420844.666667,10.916667,0.0,2.186849e+07
2016-06-06 11:35:42,0.0,0.0,0.0,10.916667,9062.333333,681615.000000,3.199431e+06,1.669544e+07,2.893688e+06,487766.416667,175.083333,0.0,2.396719e+07
2016-09-25 06:23:46,0.0,0.0,0.0,11.000000,12202.000000,786454.166667,3.590505e+06,1.898163e+07,3.278932e+06,560034.500000,402.000000,0.0,2.721018e+07
2016-12-05 06:16:34,0.0,0.0,0.0,22.166667,9445.416667,940958.416667,4.455092e+06,2.428655e+07,3.585919e+06,612042.000000,477.416667,0.0,3.389051e+07
2017-11-14 08:23:53,0.0,0.0,0.0,0.000000,22.333333,50949.333333,1.279792e+06,6.299758e+06,9.827893e+05,52776.250000,0.500000,0.0,8.666087e+06

In [43]:
big_bus_df = pd.DataFrame()
for key in mods_of_full_life:
    print(key)
    mod_list = mods_of_full_life[key]
    print(mod_list)
    for i in mod_list:
        print(i)
        bus_mod = sort_bus_by_date.build_module_average_df(directory, key, i)
        bus_mod = bus_mod.rename(columns={'< 2.0': '1.9', '>= 4.0': '4.0'})
        big_bus_df = big_bus_df.append(bus_mod)
    big_bus_df['Bus'] = key

bus_1/
[2]
2
bus_2/
[11]
11
bus_6/
[5]
5
bus_15/
[2]
2
bus_25/
[1, 3, 4, 6]
1
3
4
6
bus_28/
[16]
16
bus_32/
[3]
3
bus_36/
[3, 5, 10]
3
5
10
bus_40/
[10]
10
bus_58/
[12]
12
bus_62/
[1]
1
bus_77/
[9, 14]
9
14
bus_85/
[9]
9
bus_87/
[2]
2
bus_111/
[12]
12
bus_122/
[8]
8

In [44]:
big_bus_df

,1.9,2,2.2,2.4,2.6,2.8,3,3.2,3.4,3.6,3.8,4.0,TOTAL,Bus,2.0,3.0
DateRetrieved,,,,,,,,,,,,,,,,
2016-09-26 06:07:22,0.000000,0.000000,0.916667,16.166667,6854.666667,8.151429e+05,4.050908e+06,2.271231e+07,3.241536e+06,474717.416667,38.666667,0.000000,3.130153e+07,bus_122/,NaN,NaN
2016-11-14 09:56:09,0.000000,0.000000,0.000000,35.666667,20722.833333,1.073128e+06,4.322427e+06,2.382299e+07,3.513166e+06,655581.666667,52.333333,0.000000,3.340810e+07,bus_122/,NaN,NaN
2017-02-03 06:25:25,0.000000,0.000000,0.000000,35.666667,23412.083333,1.163848e+06,4.652552e+06,2.530439e+07,3.775358e+06,733681.666667,352.000000,0.000000,3.565363e+07,bus_122/,NaN,NaN
2017-04-11 09:29:47,0.000000,0.000000,0.000000,0.000000,0.000000,2.645900e+04,3.305534e+05,1.640566e+06,2.588607e+05,7430.416667,0.000000,0.000000,2.263869e+06,bus_122/,NaN,NaN
2017-09-19 11:39:26,0.000000,0.000000,0.000000,0.000000,0.000000,3.837742e+04,8.225741e+05,4.055098e+06,6.399975e+05,21517.000000,0.000000,0.000000,5.577564e+06,bus_122/,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-10-27 08:19:08,0.000000,0.000000,0.000000,0.000000,1.750000,4.442150e+04,1.379682e+06,9.457635e+06,1.327227e+06,48906.500000,0.000000,0.000000,1.225787e+07,bus_122/,NaN,NaN
2018-04-03 08:50:47,0.000000,0.000000,0.000000,0.000000,0.000000,1.348808e+04,6.217858e+05,3.914410e+06,5.853307e+05,20671.000000,0.000000,0.000000,5.155686e+06,bus_122/,NaN,NaN
2016-02-03 06:13:55,0.000000,0.083333,1.666667,64.583333,7163.750000,5.548683e+05,2.665878e+06,1.333445e+07,2.245306e+06,403586.750000,800.666667,0.000000,1.921212e+07,bus_122/,NaN,NaN
2017-09-05 08:48:54,5435.333333,1538.250000,2208.583333,4350.166667,8250.666667,6.375375e+04,2.091735e+06,9.902779e+06,1.533988e+06,141589.750000,1.583333,9.083333,1.375564e+07,bus_122/,NaN,NaN
2019-01-16 09:32:16,0.000000,0.000000,0.000000,0.000000,36.083333,1.194109e+05,1.692514e+06,8.725304e+06,1.203772e+06,75841.500000,0.000000,0.000000,1.181688e+07,bus_122/,NaN,NaN

In [45]:
import altair as alt

In [46]:
data = bus_6_mod_5_plot.melt('DateRetrieved', var_name='voltage', value_name='counts')

In [47]:
data

          DateRetrieved voltage        counts
0   2016-03-17 09:40:06     1.9  0.000000e+00
1   2016-12-21 07:36:58     1.9  0.000000e+00
2   2017-09-27 06:12:20     1.9  0.000000e+00
3   2019-01-21 13:54:03     1.9  0.000000e+00
4   2019-01-30 06:28:49     1.9  0.000000e+00
5   2016-03-17 09:40:06       2  0.000000e+00
6   2016-12-21 07:36:58       2  0.000000e+00
7   2017-09-27 06:12:20       2  0.000000e+00
8   2019-01-21 13:54:03       2  0.000000e+00
9   2019-01-30 06:28:49       2  0.000000e+00
10  2016-03-17 09:40:06     2.2  8.333333e-02
11  2016-12-21 07:36:58     2.2  0.000000e+00
12  2017-09-27 06:12:20     2.2  0.000000e+00
13  2019-01-21 13:54:03     2.2  0.000000e+00
14  2019-01-30 06:28:49     2.2  0.000000e+00
15  2016-03-17 09:40:06     2.4  3.291667e+01
16  2016-12-21 07:36:58     2.4  0.000000e+00
17  2017-09-27 06:12:20     2.4  0.000000e+00
18  2019-01-21 13:54:03     2.4  0.000000e+00
19  2019-01-30 06:28:49     2.4  0.000000e+00
20  2016-03-17 09:40:06     2.6  1.691467e+04
21  2016-12-21 07:36:58     2.6  6.166667e+00
22  2017-09-27 06:12:20     2.6  4.700000e+01
23  2019-01-21 13:54:03     2.6  7.416667e+01
24  2019-01-30 06:28:49     2.6  7.416667e+01
25  2016-03-17 09:40:06     2.8  8.215248e+05
26  2016-12-21 07:36:58     2.8  2.445308e+04
27  2017-09-27 06:12:20     2.8  7.815667e+04
28  2019-01-21 13:54:03     2.8  1.435900e+05
29  2019-01-30 06:28:49     2.8  1.435900e+05
30  2016-03-17 09:40:06       3  2.726760e+06
31  2016-12-21 07:36:58       3  7.618479e+05
32  2017-09-27 06:12:20       3  1.198907e+06
33  2019-01-21 13:54:03       3  2.954140e+06
34  2019-01-30 06:28:49       3  2.954140e+06
35  2016-03-17 09:40:06     3.2  1.530452e+07
36  2016-12-21 07:36:58     3.2  3.900808e+06
37  2017-09-27 06:12:20     3.2  7.877037e+06
38  2019-01-21 13:54:03     3.2  1.923970e+07
39  2019-01-30 06:28:49     3.2  1.924028e+07
40  2016-03-17 09:40:06     3.4  2.482452e+06
41  2016-12-21 07:36:58     3.4  5.886460e+05
42  2017-09-27 06:12:20     3.4  1.092878e+06
43  2019-01-21 13:54:03     3.4  2.659067e+06
44  2019-01-30 06:28:49     3.4  2.659067e+06
45  2016-03-17 09:40:06     3.6  3.714871e+05
46  2016-12-21 07:36:58     3.6  2.881908e+04
47  2017-09-27 06:12:20     3.6  2.832925e+04
48  2019-01-21 13:54:03     3.6  9.344842e+04
49  2019-01-30 06:28:49     3.6  9.344842e+04
50  2016-03-17 09:40:06     3.8  2.239167e+02
51  2016-12-21 07:36:58     3.8  0.000000e+00
52  2017-09-27 06:12:20     3.8  0.000000e+00
53  2019-01-21 13:54:03     3.8  0.000000e+00
54  2019-01-30 06:28:49     3.8  0.000000e+00
55  2016-03-17 09:40:06     4.0  0.000000e+00
56  2016-12-21 07:36:58     4.0  0.000000e+00
57  2017-09-27 06:12:20     4.0  0.000000e+00
58  2019-01-21 13:54:03     4.0  0.000000e+00
59  2019-01-30 06:28:49     4.0  0.000000e+00

In [106]:
dates = list(data['DateRetrieved'].unique())
dates

['2016-03-17 09:40:06',
 '2016-12-21 07:36:58',
 '2017-09-27 06:12:20',
 '2019-01-21 13:54:03',
 '2019-01-30 06:28:49']

In [112]:
brush = alt.selection_interval(bind='scales') 
input_dropdown = alt.binding_select(options=dates)
selection = alt.selection_single(fields=['DateRetrieved'], bind=input_dropdown, name=' ')
color = alt.condition(selection,
                    alt.Color('DateRetrieved:N', legend=None),
                    alt.value('lightgray'))

In [113]:
line = alt.Chart(data.reset_index()).mark_line().encode(
    x='voltage:Q',
    y='counts:Q',
    color=color,
    tooltip='Name:N'
    ).add_selection(
    brush, selection
)

line

alt.Chart(...)