In [1]:
import sort_bus_by_date

In [2]:
directory = sort_bus_by_date.find_directory() + 'Raw Data/'

In [3]:
bus_1_dates = sort_bus_by_date.sort_bus_by_date(directory, 'bus_1/')

In [4]:
bus_1_dates

                                  Filename       DateRetrieved
0   13J0016_ProfileData_20170920063536.csv 2017-09-20 06:36:19
1   !3J0018_ProfileData_20170920082828.csv 2017-09-20 08:29:04
2   13J0016_ProfileData_20180320103531.csv 2018-03-20 10:36:30
3      0016_ProfileData_20180731061359.csv 2018-07-31 06:14:11
4      0016_ProfileData_20180731063048.csv 2018-07-31 06:30:55
5      0016_ProfileData_20180731064002.csv 2018-07-31 06:40:09
6   13J0016_ProfileData_20180920063036.csv 2018-09-20 06:30:57
7   13J0016_ProfileData_20180920063914.csv 2018-09-20 06:39:31
8   13j0016_ProfileData_20180920064815.csv 2018-09-20 06:48:27
9   13j0016_ProfileData_20180920070233.csv 2018-09-20 07:02:46
10  13J0016_ProfileData_20181022093417.csv 2018-10-22 09:34:57
11  13j0016_ProfileData_20181022100422.csv 2018-10-22 10:04:39
12  13j0016_ProfileData_20181205133509.csv 2018-12-05 13:35:24
13  13j0016_ProfileData_20181206062942.csv 2018-12-06 06:30:40
14  13j0016_ProfileData_20181226081031.csv 2018-12-26 08:11:19
15  13j0016_ProfileData_20181226103058.csv 2018-12-26 10:31:13
16  13j0016_ProfileData_20181226103548.csv 2018-12-26 10:36:01
17  13j0016_ProfileData_20181226115443.csv 2018-12-26 11:54:54
18  13j0016_ProfileData_20181226120838.csv 2018-12-26 12:08:46
19  13j0016_ProfileData_20181226122024.csv 2018-12-26 12:20:33
20  13j0016_ProfileData_20190121101408.csv 2019-01-21 10:14:16
21  13d0016_ProfileData_20190122075023.csv 2019-01-22 07:50:31

In [5]:
bus_1_current = sort_bus_by_date.build_bus_df(directory, 'bus_1/', 'Current')

In [6]:
bus_1_current

,< -350.0,-350,-340,-330,-320,-310,-300,-290,-280,-270,...,270,280,290,300,310,320,330,340,>= 350.0,TOTAL
0,0,0,0,0,0,2,10,77,529,3369,...,937,68,15,5,1,0,0,0,0,80985404
1,0,0,0,0,0,2,10,77,529,3369,...,937,68,15,5,1,0,0,0,0,80985878
2,0,0,0,0,0,3,13,102,706,4643,...,1712,116,19,5,2,1,0,0,0,86617529
3,0,0,0,0,0,3,13,103,710,4703,...,1782,117,20,6,3,1,0,0,0,90059017
4,0,0,0,0,0,3,13,103,710,4703,...,1782,117,20,6,3,1,0,0,0,90059339
5,0,0,0,0,0,3,13,103,710,4703,...,1782,117,20,6,3,1,0,0,0,90059628
6,0,0,0,0,0,8,28,202,1201,6258,...,2551,186,25,6,3,1,0,0,0,91259904
7,0,0,0,0,0,8,28,202,1201,6258,...,2551,186,25,6,3,1,0,0,0,91260310
8,0,0,0,0,0,8,28,202,1201,6258,...,2551,186,25,6,3,1,0,0,0,91260310
9,0,0,0,0,0,8,28,202,1201,6258,...,2551,186,25,6,3,1,0,0,0,91261150
10,0,0,0,0,0,8,28,202,1204,6270,...,2555,186,25,6,3,1,0,0,0,91467063
11,0,0,0,0,0,8,28,202,1204,6270,...,2555,186,25,6,3,1,0,0,0,91467394
12,0,0,0,0,0,8,28,202,1212,6302,...,2576,187,25,6,3,1,0,0,0,91645477
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
14,0,0,0,0,0,0,0,0,0,2,...,1,0,0,0,0,0,0,0,0,90258
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,116
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,322
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4587
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4754
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4961
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30518
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,37924

In [7]:
bus_1_voltage = sort_bus_by_date.build_bus_df(directory, 'bus_1/', 'Voltage')

In [8]:
bus_1_voltage

,< 450.0,450,460,470,480,490,500,510,520,530,...,670,680,690,700,710,720,730,740,>= 750.0,TOTAL
0,348,0,0,15,69,274,942,4161,26892,78020,...,2096893,1733041,938116,530859,91264,558,0,0,0,80985403
1,348,0,0,15,69,274,942,4161,26892,78020,...,2096893,1733041,938116,530859,91264,558,0,0,0,80985877
2,348,0,0,17,69,274,942,4161,26940,78589,...,2258399,1852922,1000410,540306,91636,564,0,0,0,86617528
3,348,0,0,17,69,274,942,4161,26940,78592,...,2339863,1931360,1041513,550848,92350,568,0,0,0,90059016
4,348,0,0,17,69,274,942,4161,26940,78592,...,2339863,1931360,1041513,550848,92350,568,0,0,0,90059338
5,348,0,0,17,69,274,942,4161,26940,78592,...,2339863,1931360,1041513,550848,92350,568,0,0,0,90059627
6,348,0,0,17,69,274,942,4161,26940,78604,...,2366050,1953026,1051446,553265,92491,568,0,0,0,91259903
7,348,0,0,17,69,274,942,4161,26940,78604,...,2366050,1953026,1051446,553265,92491,568,0,0,0,91260309
8,348,0,0,17,69,274,942,4161,26940,78604,...,2366050,1953026,1051446,553265,92491,568,0,0,0,91260309
9,348,0,0,17,69,274,942,4161,26940,78604,...,2366050,1953026,1051446,553265,92491,568,0,0,0,91261149
10,348,0,0,17,69,274,942,4161,26940,78604,...,2368905,1954910,1052660,553609,92519,569,0,0,0,91467062
11,348,0,0,17,69,274,942,4161,26940,78604,...,2368905,1954910,1052660,553609,92519,569,0,0,0,91467393
12,349,0,0,17,69,274,942,4161,26940,78605,...,2371984,1957481,1054096,554027,92581,569,0,0,0,91645476
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
14,0,0,0,0,0,0,0,0,0,0,...,1481,1076,566,237,31,0,0,0,0,90258
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,116
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,322
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4587
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4754
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4961
20,0,0,0,0,0,0,0,0,0,4,...,168,148,86,39,1,0,0,0,0,30518
21,0,0,0,0,0,0,0,0,0,4,...,168,148,86,39,1,0,0,0,0,37924

In [9]:
bus_1_power = sort_bus_by_date.build_bus_df(directory, 'bus_1/', 'Power')

In [10]:
bus_1_power

,< -200.0,-200,-190,-180,-170,-160,-150,-140,-130,-120,...,120,130,140,150,160,170,180,190,>= 200.0,TOTAL
0,0,0,0,1,16,551,12833,103920,233618,281813,...,281516,241604,215559,198467,219957,73023,11967,634,24,80985403
1,0,0,0,1,16,551,12833,103920,233618,281813,...,281516,241604,215559,198467,219957,73023,11967,634,24,80985877
2,0,0,0,1,23,960,20115,124151,264479,320849,...,309279,263757,238045,221831,242072,92942,18637,1027,31,86617528
3,0,0,0,1,23,983,21747,136391,286321,351198,...,325249,279744,256978,246492,267682,108207,20884,1057,34,90059016
4,0,0,0,1,23,983,21747,136391,286321,351198,...,325249,279744,256978,246492,267682,108207,20884,1057,34,90059338
5,0,0,0,1,23,983,21747,136391,286321,351198,...,325249,279744,256978,246492,267682,108207,20884,1057,34,90059627
6,0,0,0,2,56,2055,27692,147586,296801,361363,...,330971,284623,262422,252759,272857,112608,23764,1464,41,91259903
7,0,0,0,2,56,2055,27692,147586,296801,361363,...,330971,284623,262422,252759,272857,112608,23764,1464,41,91260309
8,0,0,0,2,56,2055,27692,147586,296801,361363,...,330971,284623,262422,252759,272857,112608,23764,1464,41,91260309
9,0,0,0,2,56,2055,27692,147586,296801,361363,...,330971,284623,262422,252759,272857,112608,23764,1464,41,91261149
10,0,0,0,2,56,2061,27791,148051,297607,362488,...,331461,285091,262932,253345,273533,112955,23843,1465,41,91467062
11,0,0,0,2,56,2061,27791,148051,297607,362488,...,331461,285091,262932,253345,273533,112955,23843,1465,41,91467393
12,0,0,0,2,56,2082,27998,148574,298334,363436,...,332116,285682,263508,254018,274116,113426,24008,1480,41,91645476
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
14,0,0,0,0,0,1,12,135,212,321,...,318,232,219,209,165,104,29,0,0,90258
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,116
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,322
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4587
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4754
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4961
20,0,0,0,0,0,0,2,15,32,44,...,17,18,18,14,12,18,4,0,0,30518
21,0,0,0,0,0,0,2,15,32,44,...,17,18,18,14,12,18,4,0,0,37924